 
.card-wrapper {
    position: relative;
    overflow: visible;
}

.card-inner {
    background-color: #fff;
}

.card-shadow {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    max-width: 23rem;
    
  }

.img-shadow {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 5px -5px,
        rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-img-custom {
    width: 100%;
    height: 200px; /* altura fija para TODAS las imágenes */
    /* object-fit: cover;   NO deforma, mantiene proporción
    object-position: center; */
    border-radius: 2px;
}

/* Color de la flecha del carrousel */
.carousel-control-next-icon,
.carousel-control-prev-icon {
    filter: invert(80%);
}

.carrousel-title {
    font-size: 1.2rem;
    color: var(--color-primary-2);
    margin-bottom: 0.5rem;
}

.text-justify {
    text-align: justify;
}

.desc-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: 0.3s ease;
}

.desc-text.expanded {
    -webkit-line-clamp: unset;
}

.read-more-btn {
    background: none;
    border: none;
    color: var(--color-secondary-2);
    font-weight: 500;
    cursor: pointer;
    padding: 0;
    margin-top: 0px;
    text-align: center !important;
}

.links-projects a:hover {
    transform: scale(1.2);
    transition: transform 0.4s ease;

}

.bg-laravel {
    background-color: #f0513f !important;
}

.bg-Jquery {
    background-color: #4f46e5 !important;
}

.bg-Bootstrap {
    background-color: #752FF7 !important;
}

.bg-js {
    background-color: #eab308 !important;
    color: black !important;
}
.bg-php {
    background-color: #787CB5 !important;
}
.bg-Tailwind {
    background-color: #38BDF8 !important;
    color: black !important;
}
.bg-mysql {
    background-color: #00758F !important;
    color: white !important;
}

.bg-css {
    background-color: #0277BD !important;
    color: white !important;
}
.bg-axios{
    background-color: #8CC1FF !important;
    color: white !important;
}

.bg-react{
    background-color: #4E9AB7 !important;
    color: white !important;
}